@model ManajemenBarang.Areas.Supplier.Models.ViewModel
@{
    ViewBag.Title = "CreateExist";
}

<h2>Tambah Data Barang Existing</h2>
<div class="row">
    <div class="col-md-12">

        <form method="post" action="@Url.Action("InsertDataExist", "Suppliersite")">            
            <div class="col-md-6">

                <!--<div class="form-group">
                       <label class="control-label">Kode Barang</label>
                       @*foreach (var itemB in Model.allBarang)
                       {
                           <input name="kode_barang" class="form-control" required autocomplete="off" value="@Html.Display(itemB.kode_barang)" readonly />
                       }*@
                   </div>-->
                <div class="form-group">
                    <label class="control-label">Nama Barang</label>
                    <select name="id_barang" class="form-control" required>
                        @*Iterating Barang ViewModel *@
                        <option selected="selected" value="">--- Pilih Barang ---</option>
                        @foreach (var itemB in Model.allNya)
                        {
                            <option value="@itemB.id_barang">@itemB.nama_barang</option>
                        }
                    </select>
                </div>

                <!--<div class="form-group">

                      <label class="control-label">Kategori</label>
                      <select name="id_kategori" class="form-control" required>
                          @*Iterating Kategori ViewModel *@
                          <option selected="selected" value="">--- Pilih Kategori ---</option>
                          @*foreach (var itemK in Model.allKategori)
                          {
                              <option value="@itemK.id_kategori">@itemK.nama_kategori</option>
                          }*@
                      </select>

                  </div>-->

                <div class="form-group">
                    <label class="control-label">Jumlah Barang</label>
                    <input name="jumlah_barang" class="form-control" onkeypress="return isNumberKey(event)" required autocomplete="off" />
                </div>

                <div class="form-group">
                    <label class="control-label">Deskripsi</label>
                    <!--<input name="deskripsi" class="form-control" required autocomplete="off" />-->
                    <textarea name="deskripsi" class="form-control" required maxlength="50"></textarea>
                    <input name="created_by" hidden="hidden" value="2" />
                    <input name="updated_by" hidden="hidden" value="2" />
                    <input name="id_supplier" hidden="hidden" value="@Session["SupID"]" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Insert Data" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    @Html.ActionLink("Kembali", "Index")
</div>
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

